:root {
  --slide-color: rgba(250, 250, 250, 0.307);
  --lower-blue: rgb(126, 186, 255);
  --upper-blue: rgb(67, 109, 201);
}

.fourth {
  /* border: 1px solid black; */
  position: relative;
  bottom: 0;
  display: flex;
  flex-direction: column;
  color: white;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  margin-top: 2%;

  height: 100%;
}
.fourth .partenaires {
  position: relative;
  z-index: 3;
  background-color: #f9f9f9;
  padding: 1%;

  margin-bottom: 5%;
}

/* .fourth > .clone-partenaires {
  
} */

.fourth .partenaires .title h1 {
  text-align: center;
  margin-bottom: 60px;
  /* margin-top: 20px; */
  color: var(--upper-blue);
}

.fourth .partenaire-logo .partenaire-item img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.fourth .partenaire-logo .partenaire-item {
  opacity: 0;
  transform: translateX(-20px);
}

.fourth .partenaire-logo .partenaire-item:nth-child(1) {
  transition: 150ms;
}
.fourth .partenaire-logo .partenaire-item:nth-child(2) {
  transition: 200ms;
}
.fourth .partenaire-logo .partenaire-item:nth-child(3) {
  transition: 250ms;
}
.fourth .partenaire-logo .partenaire-item:nth-child(4) {
  transition: 300ms;
}

.fourth .partenaire-logo {
  padding-bottom: 15px;
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-around;
  flex-wrap: wrap;
}

.fourth .partenaire-logo .partenaire-item.active {
  opacity: 1;
  transform: translateX(0px);
}

.clone-footer {
  height: 100%;
  width: 100%;
  position: absolute;
}

.footer {
  position: relative;

  /* position: fixed;
  z-index: -1;
  top: 63%; */
  bottom: 0;
  width: 100%;
}

.footer > .footer-content {
  width: 100%;
  background-image: url("../images/footer.png");
  background-color: rgb(0, 0, 0, 0.57);
  background-blend-mode: multiply;
  background-position: 0% 66%;
  background-size: cover;
  display: flex;
  /* gap: 100px; */
  padding: 7%;
  justify-content: space-around;
  align-items: flex-start;
  /* background-color: var(--lower-blue); */
}

.footer > .footer-content .first-content {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.footer > .footer-content .first-content > a {
  color: white;
  margin: 5px 0px;
  text-decoration: none;
}

.footer > .footer-content > .first-block > .first-title,
.footer > .footer-content > .third-block > .third-title {
  font-size: 30px;
  font-weight: 600;
}

.footer .second-block {
  position: relative;
  transform: translate(0px, 50px);
}
.footer .second-block img {
  filter: brightness(0.7);
}

.third-block > .third-content > .item {
  display: flex;
  margin: 15px auto;
}

.third-block > .third-content > .item > div {
  margin: 0px 5px;
}

@media (max-width: 1100px) {
  .footer .second-block {
    display: none;
  }

  .footer-content {
    font-size: 0.8rem;
  }

  .partenaires {
    flex-direction: column;
  }
}
